@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="project-section">
        <div class="container">
            <div class="section-title">
                <p>Project & Case Studies</p>
                <h2>Let Looks Our Global Projects</h2>
            </div>
            <div class="project-cases">
                <article>
                    <img src="images/adeolu-eletu-E7RLgUjjazc-unsplash.jpg" alt="Picture of a man reading a business news magazine.">
                    <h3>Grow Your Company</h3>
                    <a href="#">Read More <i class="bi bi-arrow-up-right"></i></a>
                </article>
                <article>
                    <img src="images/marek-levak-zANXcXyByos-unsplash.jpg" alt="Picture of a man reading a business news magazine.">
                    <h3>Grow Your Company</h3>
                    <a href="#">Read More <i class="bi bi-arrow-up-right"></i></a>
                </article>
                <article>
                    <img src="images/oli-dale-xjSkI_seiZY-unsplash.jpg" alt="Picture of a man reading a business news magazine.">
                    <h3>Grow Your Company</h3>
                    <a href="#">Read More <i class="bi bi-arrow-up-right"></i></a>
                </article>
                <article>
                    <img src="images/carlos-muza-hpjSkU2UYSU-unsplash.jpg" alt="Picture of a man reading a business news magazine.">
                    <h3>Grow Your Company</h3>
                    <a href="#">Read More <i class="bi bi-arrow-up-right"></i></a>
                </article>
            </div>
            <div class="center-content">
                <a class="btn-black" href="projects.html">All Recent Projects <i class="bi bi-arrow-up-right"></i></a>
            </div>
        </div>
    </section>