@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContactPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "LayoutWithBreadcrumb.cshtml";
}
<section>
    <div class="container">
        <div class="contact-box">
            <div></div>
            <h5>Visit us</h5>
            <div class="contact-info">
                <p>Sveavägen 31</p>
                <p>111 34 STOCKHOLM</p>
            </div>
        </div>
        <div class="contact-box">
            <div></div>
            <h5>Call us</h5>
            <div class="contact-info">
                <p>+46 (0) 121 470 50</p>
                <p>+46 (0) 121 470 51</p>
            </div>
        </div>
        <div class="contact-box">
            <div></div>
            <h5>Email us</h5>
            <div class="contact-info">
                <p>info@crito.com</p>
                <p>support@crito.com</p>
            </div>
        </div>
    </div>
</section>