@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContactPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "LayoutWithBreadcrumb.cshtml";
}
<section>
    <div class="container">
        <div class="contact-box">
            <div></div>
            <h5>Visit us</h5>
            <div class="contact-info">
                <p>Sveavägen 31</p>
                <p>111 34 STOCKHOLM</p>
            </div>
        </div>
        <div class="contact-box">
            <div></div>
            <h5>Call us</h5>
            <div class="contact-info">
                <p>+46 (0) 121 470 50</p>
                <p>+46 (0) 121 470 51</p>
            </div>
        </div>
        <div class="contact-box">
            <div></div>
            <h5>Email us</h5>
            <div class="contact-info">
                <p>info@crito.com</p>
                <p>support@crito.com</p>
            </div>
        </div>
    </div>
</section>

<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2034.7792237249205!2d18.05943021258738!3d59.33663971032982!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f9d6799554e87%3A0x6562d2c842903003!2sSveav%C3%A4gen%2031%2C%20111%2034%20Stockholm!5e0!3m2!1ssv!2sse!4v1698806015775!5m2!1ssv!2sse" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>